.DS_Store
.env

.vscode/
.vscode/*

__pycache__/
*.pyc

.langgraph_api/
.langgraph_api/*

notebooks/stocksflags-ec5c40f2f2ee.json
notebooks/rational-diode-456114-m0-79243525427e.json.DS_Store
.env

.vscode/
.vscode/*

__pycache__/
*.pyc

.langgraph_api/
.langgraph_api/*

gcp_credential.json

doc/
doc/*